.u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 909px;
}

.u-section-1 .u-shape-1 {
  height: 373px;
  width: 702px;
  margin: 200px 0 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 335px;
  width: 432px;
  margin: -440px auto 0 90px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 400;
  margin: 0 1px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  margin: 10px 0 0;
}

.u-section-1 .u-group-2 {
  width: 598px;
  min-height: 511px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -249px 99px 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 50px 0 40px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 22px;
  min-height: 16px;
  width: 124px;
  min-width: 106px;
  margin: 62px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 198px;
    margin-right: -35px;
  }

  .u-section-1 .u-group-1 {
    min-height: 391px;
    margin-top: -434px;
    margin-left: 38px;
  }

  .u-section-1 .u-group-2 {
    width: 573px;
    min-height: 476px;
    margin-top: -255px;
    margin-right: 38px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 24px 34px 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 423px;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  margin-top: -89px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-gallery-1 {
    height: 349px;
    margin-top: -86px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-2 .u-gallery-1 {
    height: 802px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1136px;
  }
}.u-section-3 {
  background-image: url("images/car-surf-board-holiday.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 78px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 86px;
    margin-right: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 736px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  margin: 50px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 33.3333px));
  min-height: 375px;
  grid-gap: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 78px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  font-family: Merriweather, serif;
  margin: 36px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-family: Merriweather, serif;
  margin: 36px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 33px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-family: Merriweather, serif;
  margin: 36px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 65px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-top: -25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 427px;
    grid-gap: 20px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
    font-family: Roboto, sans-serif;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 63px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
    font-family: Roboto, sans-serif;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 63px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
    font-family: Roboto, sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 981px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 616px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -32px 0 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: 127px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 49.3333px));
  min-height: 375px;
  grid-gap: 74px;
}

.u-section-5 .u-list-item-1 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 149px;
  height: 149px;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-family: Delius;
  font-weight: 400;
  margin: 41px auto 0;
}

.u-section-5 .u-list-item-2 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  width: 149px;
  height: 149px;
  color: rgb(17, 17, 17) !important;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-family: Delius;
  font-weight: 400;
  margin: 41px auto 0;
}

.u-section-5 .u-list-item-3 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  width: 149px;
  height: 149px;
  color: rgb(17, 17, 17) !important;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  font-family: Delius;
  font-weight: 400;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-5 .u-text-2 {
    font-family: Roboto, sans-serif;
  }

  .u-section-5 .u-text-3 {
    font-family: Roboto, sans-serif;
  }

  .u-section-5 .u-text-4 {
    font-family: Roboto, sans-serif;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 37px));
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1585px;
}

.u-section-6 .u-image-1 {
  width: 644px;
  height: 615px;
  margin: 45px auto 0 -48px;
}

.u-section-6 .u-image-2 {
  width: 356px;
  height: 313px;
  margin: -615px 143px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 548px;
  height: 436px;
  margin: 170px -49px 0 auto;
}

.u-section-6 .u-image-4 {
  width: 318px;
  height: 253px;
  margin: -253px auto 0 278px;
}

.u-section-6 .u-text-1 {
  margin: 81px 5px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-6 .u-image-1 {
    width: 502px;
    height: 448px;
  }

  .u-section-6 .u-image-2 {
    width: 268px;
    height: 205px;
    margin-top: -448px;
    margin-right: 172px;
  }

  .u-section-6 .u-image-3 {
    width: 426px;
    height: 351px;
    margin-top: 81px;
    margin-right: 15px;
  }

  .u-section-6 .u-image-4 {
    width: 220px;
    height: 155px;
    margin-top: -155px;
    margin-left: 235px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin: 139px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    height: 447px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -616px;
    margin-right: 143px;
  }

  .u-section-6 .u-image-3 {
    margin-right: -49px;
  }

  .u-section-6 .u-image-4 {
    height: 156px;
    margin-top: -253px;
    margin-left: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -517px;
  }

  .u-section-6 .u-image-4 {
    margin-left: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 303px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: -326px;
    margin-right: 72px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 280px;
    margin-right: 0;
  }

  .u-section-6 .u-image-4 {
    margin-top: -87px;
    margin-left: 22px;
  }
}.u-section-7 {
  min-height: 1154px;
}

.u-section-7 .u-shape-1 {
  height: 383px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  width: 881px;
  height: 624px;
  margin: -315px auto 0 calc(((100% - 1140px) / 2) + 80px);
}

.u-section-7 .u-group-1 {
  width: 514px;
  min-height: 563px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -136px auto 84px calc(((100% - 1140px) / 2));
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 0 0 10px;
}

.u-section-7 .u-form-1 {
  height: 371px;
  width: 422px;
  margin: 20px 0 0;
}

.u-section-7 .u-form-group-1 {
  width: 100%;
}

.u-section-7 .u-form-group-2 {
  width: 100%;
}

.u-section-7 .u-form-group-3 {
  width: 100%;
}

.u-section-7 .u-form-group-4 {
  width: 100%;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  background-image: none;
  letter-spacing: normal;
  font-size: 1rem;
}

.u-section-7 .u-btn-2 {
  font-size: 0.9375rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: -44px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 1206px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 50px;
    margin-left: calc(((100% - 940px) / 2) + 59px);
  }

  .u-section-7 .u-group-1 {
    width: 500px;
    margin-top: -115px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-form-1 {
    width: 395px;
    margin-right: 29px;
  }

  .u-section-7 .u-btn-1 {
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-style: none;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 1460px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 510px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-group-1 {
    margin-top: -99px;
    margin-bottom: -47px;
    margin-left: calc(((100% - 720px) / 2) + 35px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-7 .u-form-1 {
    width: 440px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 1360px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 383px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -68px;
    margin-left: auto;
    margin-bottom: -396px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 1189px;
  }

  .u-section-7 .u-shape-1 {
    height: 219px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 241px;
    margin-top: -151px;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    width: 314px;
    margin-top: -22px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 27px 20px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-7 .u-form-1 {
    width: 274px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 0;
  }
}